@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
